@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
    font-size: 1rem;
  }
  50% {
    background-position: 100% 50%;
    font-size: 1.5rem;
  }
  100% {
    background-position: 0% 50%;
    font-size: 1rem;
  }
}

/* Create a utility class for animated gradient text */
.animate-gradient {
  background: linear-gradient(90deg, #3b82f6, #9333ea, #f43f5e);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 2s ease infinite;
  font-size: 1rem; /* Default font size */
  transition: font-size 0.2s ease; /* Smooth font-size transition */
}

.highlight {
  font-size: 1.5rem; /* Larger font size when triggered */
}

/* styles.css or in a global CSS file */
.text-stroke {
  -webkit-text-stroke: 1px rgba(4, 21, 50, 0.957); /* stroke width and color */
  color: rgb(255, 255, 255); /* inner fill color */
}
.background {
  position: relative;
 
  z-index: -10; 
  color: white;
  background-color: rgba(0, 0, 0, 0);
height: 100dvh;
height: 100vh;
overflow: hidden;
display: flex;
  width:100%;
}


.background::after {
 content: '';
  position: absolute;
   top: -30%;
  left: 0;
  bottom: 0;
  width: 50%;
  background-image: url('../../../public/magic_left.png');
  background-size: contain;
  background-position: left ; 
  background-repeat: no-repeat;
  z-index: -1000;
}
.background::before {
   content: '';
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../../../public/magic_right.png');
  background-size: contain;
  background-position: right ; 
  background-repeat: no-repeat;
  z-index: -1;
}



.astro {
  z-index: -20;
}


.button_join {
  width: 12rem;
  height: 60px;
  background-image: url('../../../public/button.svg');
  background-color: rgba(0, 0, 0, 0.541);
  background-size: cover;
  background-position: center;

  background-repeat: repeat;
  background-clip: padding-box;
  border-radius: 5rem;
  position: relative;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  align-content: center;
}

.button_join::before {
  border-radius: 5rem;
  content: '';
  background-image: radial-gradient(circle at 100%, #4690d4 0%, #6ebff4 22%, #a5efff 100%);
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: -1;
}

@media (width < 380px /* 768px */) {


  .button_join {
    width: 10rem;
    height: 50px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -60%;

}
.background::before {
   content: '';
  position: absolute;
  top: 50%;
 
}
.background {
  
height:40dvh;
height:40vh;

}
}
@media (380px<= width < 430px /* 768px */) {


  .button_join {
    width: 10rem;
    height: 50px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -70%;

}
.background::before {
   content: '';
  position: absolute;
  top: 30%;
 
}
.background {
  
height: 50dvh;
height: 50vh;

}
}
@media (430px<= width <600px /* 768px */) {


  .button_join {
    width: 10rem;
    height: 50px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -60%;

}
.background::before {
   content: '';
  position: absolute;
  top: 20%;
 
}
.background {
  
height: 50dvh;
height: 50vh;

}
}
@media (600px<= width < 768px /* 768px */) {


  .button_join {
    width: 10rem;
    height: 50px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -50%;

}
.background::before {
   content: '';
  position: absolute;
  top: 20%;
 
}
.background {
  
height: 70dvh;
height:70vh;

}
}


@media ( 768px <= width < 800px /* 768px */) {


  .button_join {
    width: 12rem;
    height: 60px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -50%;

}
.background::before {
   content: '';
  position: absolute;
  top: 20%;
 
}
.background {

height: 60dvh;
height: 60vh;

}

}
@media ( 800px <= width < 900px /* 768px */) {


  .button_join {
    width: 12rem;
    height: 60px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -60%;

}
.background::before {
   content: '';
  position: absolute;
  top: 30%;
 
}
.background {

height:90dvh;
height: 90vh;

}

}
@media (900px <=width < 1000px /* 768px */) {


  .button_join {
    width: 15rem;
    height: 60px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -50%;

}
.background::before {
   content: '';
  position: absolute;
  top: 20%;
 
}
.background {

height:90dvh;
height: 90vh;

}

}
@media (1000px <=width < 1200px /* 768px */) {


  .button_join {
    width: 15rem;
    height: 60px;
  }
  .background::after {
 content: '';
  position: absolute;
   top: -50%;

}
.background::before {
   content: '';
  position: absolute;
  top: 40%;
 
}
.background {

height:90dvh;
height: 90vh;

}

}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes gradientAnimationText {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 25% 60%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 40%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-text {
  background: linear-gradient(
    45deg,
    rgb(90, 150, 235),
    #0e6edb,
    rgb(68, 144, 251),
    #ffffff,
    rgb(68, 144, 251),
    #0e6edb,
    rgb(90, 150, 235)
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimationText 5s linear infinite;
  transition: font-size 0.2s ease;
}

.animated-title {
  animation: fadeSlideUp 1.2s ease-out forwards;
  opacity: 0; /* Ensures animation starts from hidden */
}

.fontheader {
  font-family: Novusa;
}
.fonttext {
  font-family: fmbolyarpro700;
}
svg:hover {
  fill: red;
}
