.boxnav {
  background-image: url('../../../public/nav.svg');
  background-color: rgba(0, 0, 0, 0.907);
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  background-repeat: repeat;

  position: relative;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;

  align-items: center;
  align-content: center;
border-radius:3rem;
}
.boxnav::before {
  padding: 0.1rem;
  content: '';
  background: linear-gradient(to right, #98f9ff, #ffffff, #eabfff, #8726b7);
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: -1;
   mask:
    linear-gradient(#000000 0 0) content-box,
    linear-gradient(#000000 0 0);
  mask-composite: exclude;
    border-radius:3rem;
}

.menu {
  cursor: pointer;
}

.navmobile {
  background-image: url('../../../public/nav.svg');
  background-color: rgba(0, 0, 0, 0.826);
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  background-repeat: repeat;

color:white;
  position: relative;
  text-align: center;
  z-index: 10;
  box-sizing: border-box;

  align-items: center;
  align-content: center;
}
.navmobile::before {
  border-radius: 2rem;
  content: '';
  background: linear-gradient(to right, #EABFFF, #ffffff, #eabfff, #8726b7);
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
 
  z-index: -1;
}

.register{
  text-shadow:2px 2px 5px whitesmoke; 
}


@media (width<600) {
.boxnav {
 
border-radius:2rem;
}
.boxnav::before {
  padding: 0.09rem;
 
    border-radius:2rem;
}


}

@media (width<450) {
  .paragrapg{
    font-size: 0.6rem;
}

}
@media (width<400) {
  .paragrapg{
    font-size: 0.5rem;
}

}

